<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
</html>
<div class="footer">
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom" style="margin-top: 50px;">
        </section>
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3"><img src="https://static.oliveyoung.co.kr/pc-static-root/image/footer/foot_logo_yearend.png" alt="하단로고"></i>
                </h6>
                <p>
                  씨제이올리브영 주식회사<br>
                  대표이사 : 구창근 | <br> 사업자등록번호 : 809-81-01574 <br>
                  주소 : (04323) 서울특별시 용산구 <br> 한강대로 372, 24층 <br>
                  통신판매업신고번호 : <br> 2019-서울용산-1428 <br>
                  이메일 : oliveweb@cj.net <br>
                </p>
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  회사소개
                </h6>
                <p>
                  <a href="#!" class="text-reset">브랜드 스토리</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">CEO 메세지</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">ESG 지속가능경영</a>
                </p>
              </div>

              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  제품
                </h6>
                <p>
                  <a href="#!" class="text-reset">스킨케어</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">헤어케어</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">향수/디퓨저</a>
                </p>
              </div>

              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                    고객센터
                </h6>
                <p>
                  <a href="#!" class="text-reset">자유게시판</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">공지사항</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">QnA게시판</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">FAQ게시판</a>
                </p>
              </div>
            </div>
          </div>
        </section>
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2021 Copyright:
          <a class="text-reset fw-bold" href="https://mdbootstrap.com/">2017~2021 국가고객만족도(NCSI) 헬스앤뷰티전문점 업계 최초 5년 연속 1위​</a>
        </div>
      </footer>
</div>