<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- <c:set var="path1" value="${pageContext.request.contextPath }" /> -->
<!-- Jquery -->
<script src="https://code.jquery.com/jquery-latest.js"></script>
<!-- 파비콘 -->
<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
<!-- data tables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
<link rel="stylesheet" href="/css/reset.css">
<!-- <script src="/js/html5shiv.js"></script>
<script src="/js/prefixfree.min.js"></script>
<script src="/js/respond.min.js"></script> -->
<script>
$(document).ready( function () {
    $('.tb').DataTable();
} );
$(document).ready(function(){
    $(window).scroll(function(){
        var ht = $(window).height();
        var tp = $(this).scrollTop();
        if(tp>=600){
            $(".hd").css("position","fixed");
        } else {
            $(".hd").css("position","absolute");
        }
    });
});    
</script>
</head>