<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEO 메세지</title>
    <th:block th:include="common/head"></th:block>
</head>
<body>
    <th:block th:include="common/header"></th:block>

    <div id="Container">
		<div class="brand-txtus">
			<div class="ceo_info">
				<h3>온리원 정신으로 글로벌 시장을 선도하는 <br>최고의 기업이 되겠습니다</h3>				
				<p class="sub_tx">고객에게 합리적인 소비 가치를 제공하는 한국형 헬스 앤 뷰티 스토어를 넘어 <br>문화와 라이프스타일 트렌드 전반을 경험하고 향유할 수 있는 글로벌 라이프스타일 플랫폼으로 거듭나겠습니다</p>			
				<ul>
					<li>1999년 한국형 드럭스토어를 만들겠다는 취지로 시작된 올리브영은 국내 소비자의 정서와 구매 스타일을 반영한 새로운 개념의 쇼핑 공간, ‘헬스 앤 뷰티 스토어’를 창출하였습니다. <br>또한 고객이 건강하고 아름다운 라이프 스타일을 만들어갈 수 있도록 차별화된 상품 카테고리를 도입, 생활밀착형 쇼핑문화공간으로 자리매김 하였으며  끊임없는 유통 혁신을 통해 업계를 선도하는 기업으로 성장해왔습니다.</li>
					<li>이제 올리브영은 현재에 안주하지 않고, 최초·최고·차별화의 온리원 정신을 바탕으로 더 넓은 세상, 새로운 미래에 도전하고자 합니다. <br>고객에게 합리적인 소비 가치를 제공하는 한국형 헬스 앤 뷰티 스토어를 넘어 문화와 라이프스타일 트렌드 전반을 경험하고 향유할 수 있는 글로벌 라이프 스타일 플랫폼으로 거듭나겠습니다. <br>The Playground of Trend Leading Shoppers라는 비전 아래 고객이 건강하고 아름다운 삶을 즐길 수 있도록 늘 곁에서 함께하는 브랜드로 성장하겠습니다.</li>
					<li>기업으로서의 책임감도 잊지 않겠습니다.<br>올리브영이 가장 잘할 수 있는 방식으로 산업 전반에 걸친 긍정적인 발전을 이끌고, 더 나은 세상을 만드는 데 기여하겠습니다.<br>협력사와의 공정한 거래문화, 지역 강소업체와의 상생모델 구축을 기반으로 함께 발전하는 협업 모델을 구축하고, 차별화된 나눔을 통해 사회적인 가치를  실현하는 진정한 리더로 지속 성장해 나가겠습니다.<br>올리브영의 새로운 도전을 지켜봐 주십시오.</li>
				</ul>
				<div class="txt_sign">
					<strong>CJ올리브영 대표이사</strong>
					<p class="name"><img src="https://static.oliveyoung.co.kr/pc-static-root/image/footer/ceo_name.gif" alt="구창근"></p>
				</div>
			</div>
				
			</div>
		</div>
	</div>

    <th:block th:include="common/footer"></th:block>
</body>
</html>