<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>QnA 게시판</title>
  <th:block th:include="common/head"></th:block>
  <style>
	th { background-color: rgb(166, 205, 72); color: white;}
  </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
  <th:block th:include="common/header"></th:block>
  <div class="wrapper">
    <div class="content" id="content">
	    <div class="row column text-center">
	      <h2 style="margin-top:50px;">QnA 게시판 목록</h2>
		  <section>
			<div class="container">
				<div class="row column text-center">
				  <table class="tb">
					  <thead>
						  <tr>
							  <th style="text-align:center; ">No</th>
							  <th style="text-align:center; width: 700px;">Title</th>
							  <th style="text-align:center; ">author</th>	
							  <th style="text-align:center; ">ResDate</th>
                              <th style="text-align:center; ">고유 번호</th>
						  </tr>
					  </thead>
					  <tbody>
						<tr th:each="qnaList : ${qnaList}">
							<td th:text="${qnaList.no}"></td>
							<td><a th:text="${qnaList.title}" th:href="@{/qna/qnaDetail.do(parno=${qnaList.parno})}"></a></td>
							<td th:text="${qnaList.author}"></td>
							<td th:text="${qnaList.resdate}"></td>
                            <td th:text="${qnaList.parno}"></td>
						</tr>	
					  </tbody>
				  </table>
				  <div class="button_group" style="margin-left: -600px;">
						<a th:if="${session.sid != null} " type="button" class="btn btn-primary" href="QqnaInsertForm.do">질문 하기</a>
				  </div>
				</div>
			</div>
		</section>
	    </div>
	</div>
  </div>
<th:block th:include="common/footer"></th:block>
</body>
</html>