<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.myapp.dao.CustomDAO">
    <!-- 로그인 (컨트롤러 처리)-->
    <select id="login" resultType="com.shop.myapp.dto.CustomDTO">
        select * from custom where cusId = #{cusId } 
	</select>
	<!-- 방문 횟수 증가 -->
	<update id="visitedUp">
		update custom set visited=visited+1, point=point+5 where cusid=#{cusid }
	</update>
    <!-- 회원 목록 -->
	<select id="customList" resultType="com.shop.myapp.dto.CustomDTO">
		select * from custom
	</select>
    <!-- 회원 탈퇴 -->	
	<delete id="customDelete">
	    delete from custom where cusId=#{cusId }	
	</delete>	
    <!-- 회원가입 -->
    <insert id="customJoin">
		insert into custom values (#{cusId}, #{cusPw}, #{cusName}, #{address}, #{tel}, default, default, default, default)
	</insert>
	<!-- 아이디 체크 -->
	<select id="idCheck" resultType="com.shop.myapp.dto.CustomDTO">
		select * from custom where cusid=#{cusid}
	</select>
</mapper>